* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.slider_card {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
}

.card-top h3 {
  color: #fff;
}

.card-top {
  width: 400px;
  height: 250px;
}

.card-top > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
